global
    log /dev/log local0
    log /dev/log local1 notice
    user haproxy
    group haproxy
    daemon

defaults
    log global
    option dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend task1_frontend
    bind *:8080
    mode tcp
    default_backend task1_backend

backend task1_backend
    mode tcp
    balance roundrobin
    server server1 127.0.0.1:8001 check
    server server2 127.0.0.1:8002 check

frontend task2_frontend
    bind *:80
    mode http

    acl is_example_local hdr(host) -i example.local
    http-request deny unless is_example_local

    default_backend task2_backend

backend task2_backend
    mode http
    balance roundrobin

    server server1 127.0.0.1:8001 weight 2 check
    server server2 127.0.0.1:8002 weight 3 check
    server server3 127.0.0.1:8003 weight 4 check